:root {
  --primary-color: #fbf1c7;
  --background-color: #282828;
  --background-color-darkest: #1d2021;
}

div,
textarea {
  font-family: "SF Compact Text", Inter;
}

.roam-body {
  background-color: var(--background-color);
}

.rm-page-ref,
a,
a:hover {
  color: #d3869b;
}

span {
  color: var(--primary-color);
}

span[style~="cursor:"] {
  background-color: var(--background-color-darkest) !important;
  color: #fb4934 !important;
}

.controls .simple-bullet-outer .simple-bullet-inner {
  background-color: #928374;
}

.roam-body .roam-app h1 {
  color: var(--primary-color);
}

.roam-body-main {
  color: var(--primary-color);
}

.bp3-button.bp3-small.block-ref-count-button {
  background-color: var(--background-color);
  color: var(--primary-color);
}

/* ### ALLPAGES ### */
.rm-all-pages span {
  color: #a89984;
}

.rm-pages-title-text {
  color: var(--primary-color);
}

span.title-children-text {
  color: #a89984;
}

#rm-all-pages-column-titles {
  background-color: #665c54;
}

span.sorted-header-text {
  color: var(--primary-color);
}

.rm-clickable-pill.empty-pill {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.rm-clickable-pill {
  background-color: var(--background-color-darkest);
  color: var(--primary-color);
}

/* ### Embed ### */
.rm-embed-container {
  background-color: var(--background-color-darkest);
}

/* ### References ### */
.rm-reference-item {
  background-color: var(--background-color-darkest);
}

.rm-block-ref:hover {
  background-color: var(--background-color-darkest);
  color: var(--primary-color);
}

/* ### SIDEBAR ### */
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--background-color-darkest);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  color: var(--primary-color);
}

/* ### TOPBAR ### */
.roam-topbar {
  background-color: var(--background-color);
}

/* ### CODE ### */
code,
code > span {
  background: #3c3836;
  color: #8ec07c;
  font-family: "SF Mono";
}

code {
  border-color: var(--background-color-darkest);
}

.CodeMirror-sizer {
  background: var(--background-color);
  color: #8ec07c;
}

.CodeMirror-gutter {
  background: var(--background-color-darkest);
}

.CodeMirror .CodeMirror-code pre {
  font-family: "SF Mono";
  font-size: 0.9em;
}

/* ### POPUP ### */

.bp3-elevation-3 {
  background-color: #504945 !important;
}

.bp3-elevation-3 > div:hover {
  background-color: var(--background-color);
}

.bp3-elevation-3 .dont-unfocus-block[style~="background-color:"] {
  background-color: var(--background-color-darkest) !important;
}

.bp3-popover .bp3-popover-content {
  color: var(--background-color);
}
