@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #fbf1c7;
  --primary-light-color: #d5c4a1;
  --primary-darkest-color: #a89984;
  --background-color: #282828;
  --background-dark-color: #1d2021;
  --background-medium-color: #3c3836;
  /* --background-soft-color: #504945; */
  --background-light-color: #665c54;
  --link-color: #d65d0e;
  --code-highlight-color: #8ec07c;
  --highlight-background-color: #fabd2f;
  --text-muted: #999999;
  /* --monospace-font: "Iosevka Custom", "JetBrains Mono", "SF Mono", monospace; */
}

.roam-body {
  background-color: var(--background-color);
}

.rm-page-ref--tag{
  color: var(--text-muted) !important;
}

.rm-page-ref,
a,
a:hover {
  color: var(--link-color);
}

span {
  color: var(--primary-color);
}

span[style~="cursor:"] {
  background-color: var(--background-dark-color) !important;
  color: var(--link-color) !important;
}

.controls .simple-bullet-outer .simple-bullet-inner {
  background-color: #928374;
}

.roam-body .roam-app h1 {
  color: var(--primary-color);
}

.roam-body-main {
  color: var(--primary-color);
}

.bp3-button.bp3-small.block-ref-count-button {
  background-color: var(--background-color);
  color: var(--primary-color);
}

/* ### ALLPAGES ### */
.rm-all-pages span {
  color: var(--primary-darkest-color);
}

.rm-pages-title-text {
  color: var(--primary-color);
}

span.title-children-text {
  color: var(--primary-darkest-color);
}

#rm-all-pages-column-titles {
  background-color: var(--background-light-color);
}

span.sorted-header-text {
  color: var(--primary-color);
}

.rm-clickable-pill.empty-pill {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.rm-clickable-pill {
  background-color: var(--background-dark-color);
  color: var(--primary-color);
}

/* ### Embed ### */
.rm-embed-container {
  background-color: var(--background-dark-color);
}

/* ### References ### */
.rm-reference-item {
  background-color: var(--background-dark-color);
}

.rm-block-ref:hover {
  background-color: var(--background-dark-color);
  color: var(--primary-color);
}

/* ### SIDEBAR ### */
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--background-dark-color);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  color: var(--primary-color);
}

/* ### RIGHT SIDEBAR ### */
#right-sidebar {
  background-color: var(--background-dark-color) !important;
}

/* ### TOPBAR ### */
.roam-topbar {
  background-color: var(--background-color);
}

#roam-right-sidebar-content button.bp3-button.bp3-minimal {
  color: var(--primary-color);
}

/* ### CODE ### */
code,
code > span {
  background: var(--background-medium-color);
  color: var(--code-highlight-color);
  /*font-family: var(--monospace-font);*/
}

code {
  border-color: var(--background-dark-color);
}

.CodeMirror-sizer {
  background: var(--background-color);
  color: var(--code-highlight-color);
}

.CodeMirror-gutter {
  background: var(--background-dark-color);
}

.CodeMirror .CodeMirror-code pre {
  /*font-family: var(--monospace-font);*/
  font-size: 0.9em;
}

/* ### POPUP ### */

.bp3-elevation-3 {
  background-color: var(--background-medium-color) !important;
}

.bp3-elevation-3 > div:hover {
  background-color: var(--background-color);
}

.bp3-elevation-3 .dont-unfocus-block[style~="background-color:"] {
  background-color: var(--background-dark-color) !important;
}

.bp3-popover .bp3-popover-content,
.bp3-popover .bp3-popover-content span {
  color: #202b33;
}

/* ### ICON ### */
.bp3-button::before,
.bp3-icon-small::before,
.bp3-icon::before,
.bp3-icon-standard::before,
.bp3-icon svg {
  /* Icons */
  color: var(--primary-color) !important;
}

/* ### HASHTAG ### */
.rm-page-ref-tag {
  color: var(--primary-light-color);
  opacity: 0.4;
}

/* ### PAGE ### */
.zoom-path-view .rm-zoom-mask {
  background-color: var(--background-color);
}

/* ### HIGHLIGHT ### */
.roam-highlight {
  background-color: var(--highlight-background-color);
}

.roam-highlight span {
  color: var(--background-color);
}

.rm-bq {
  background-color: var(--background-dark-color);
}

.rm-bullet__inner {
  background-color: var(--primary-color);
}
